@import '/src/colors.scss';

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    // background-color: map-get($colors,"gray" );
    background: linear-gradient(60deg, black 50%, white 50%);
    line-height: 1.5rem;
    padding: 1rem;
}
.about-container div{
    display: grid;
    justify-content: center;
}
.us{
    align-items: center;
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
}
h2{
    font-size: 5rem;
}

section{
    padding: 1rem;
}