@import '/src/colors.scss';

.about-container{
    display: grid;
    line-height: 1.6rem;
    padding: 1rem;  
    grid-template-areas: 
    "us us info";
    width: 90%;
    margin: auto;
    color: map-get($colors, "light-orange" );
    scroll-margin-top: 9rem;
    height: 70vh;
}
.about-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // display: grid;
    align-items: start;
    padding: 3rem;
} 
.us{
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: justify;
}
.info{
    font-size: 2rem;
}

h2{
    margin:auto;
    line-height: 10rem;
    font-size: 5rem;
}
.title_section{
    font-size: 2rem;
    font-weight: bold;
}
.text{
    color:map-get($colors,"white" ) ;
}

section{
    padding: 1rem;
}