@import "src/colors";

.carousel-container {
  position: relative;
  // width: 80%;
  margin: auto;
  text-align: center;
}

.carousel-container img {
  display: none;
}

.carousel-container img.image-active {
  display: block;
  margin: auto;
  width: 90%;
  height: 70rem;
  
}
.carousel-dot {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 3.5rem;
}
.dot {
  cursor: pointer;
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 0.5rem;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.5s ease-in;
  opacity: 0.6;
}
.active,
.dot:hover {
  opacity: 1;
}
.fade-animation {
  animation-name: fade-animation;
  animation-duration: 5s;
  transition: opacity 1s ease-in-out;
}
.button-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 10rem 0rem 10rem;
  padding: 0;
  color: map-get($colors, "white");
  text-align: center;
  border: 0;
  font-size: 6rem;
}
.icon-carousel {
  opacity: 0.8;
  transition: all 0.15s ease;
}
.icon-carousel:hover {
  opacity: 0.5;
}

.button-prev {
  left: 0;
}
.button-next {
  right: 0;
}

@keyframes fade-animation {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1240px) {
  .carousel-container img.image-active{
    height: 48rem;
  }
  .button-carousel{
    font-size: 3.6rem;
    margin: 0rem 4rem 0rem 4rem;
  }
}