.carousel-container{
    position: relative;
    margin: auto;
    text-align: center;
    // height: 80vh;
    border-radius: 5rem;
    padding: 2rem;
}

.carousel-container img{
    display: none;
    border-radius: 5rem;
}

.carousel-container img.image-active{
    display: block;
    margin: auto;
    width: 80%;
    height: 80vh;
}
.carousel-dot{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom:3.5rem;
}
.dot{
    cursor: pointer;
    height: 1.3rem;
    width: 1.3rem;
    margin: 0 .5rem;
    background-color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    transition: opacity .5s ease-in;
    opacity: .6;
}
.active, .dot:hover{
    opacity: 1;
}
.fade-animation{
    animation-name: fade-animation;
    animation-duration: 5s;
    transition: ease-in-out .5s;
}

@keyframes fade-animation {
    from{
        opacity: .5;
    }
    to{
        opacity: 1;  
    }
}


