@import "src/colors.scss";

.footer-container {
  // height: calc(10rem - 1rem);
  height: 20vh;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: map-get($colors, "light-black");
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;

  fa-icon {
    font-size: 5rem;
    padding: 2rem;
    color: map-get($colors, "dark-white");
  }

  fa-icon:hover {
    transition: ease-in 0.3s;
    color: map-get($colors, "dark-gray");
  }
}
