@import 'src/colors';

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: auto;
}
.title{
    font-size: 3rem;
    font-weight: bold;
    border-bottom: solid .2rem map-get($colors,"orange" );
    color: map-get($colors,"orange");
    letter-spacing: .5rem;
    margin: 3rem;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}
.cards-container-large{
    grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
}
.hamburger{
    width: 80%;  
}

.bebidas{
    width: 80%;
}



