/* You can add global styles to this file, and also import other style files */
html{
    /*Esto es Reset para esl uso de Rems ejemplo 16px son ahora 1.6rem*/
    font-size: 62.5%; 
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

@font-face{
    font-family: 'DancingScript';
    src: url('assets/fonts/DancingScript-Regular.ttf');
}
@font-face {
    font-family: 'DancingScript-Bold';
    src: url('assets/fonts/DancingScript-Bold.ttf');
}
@font-face {
    font-family: 'DancingScript-Medium';
    src: url('assets/fonts/DancingScript-Medium.ttf');
}
@font-face {
    font-family: 'KleeOne';
    src: url('assets/fonts/KleeOne-Regular.ttf');
}
@font-face {
    font-family: 'KleeOne-Medium';
    src: url('assets/fonts/KleeOne-SemiBold.ttf');
}


*{
    font-family: 'KleeOne';
}
body{
    font-size: 1.7rem;
}


